.contact {

    &__txt {


        &__head {
            margin: 0 0 3.75rem 0;

            h1 {
                font-size: $font-4;

                @include breakpoint-up(medium) {
                    font-size: $font-1;
                }
            }
        }

        &__main {
             gap: 2.5rem;

             @include breakpoint-up(medium) {
                gap: 3rem;
             }

             @include breakpoint-up(large) {
                gap: 3.75rem;
             }

            p {

                @include breakpoint-up(large) {
                    font-size: $font-8;
                    max-width: 56.25rem;
                    width: 100%;
                }

                @include breakpoint-up(wide) {
                    max-width: 60rem;
                }

                &:nth-child(3) {
                    font-weight: $lgt;
                }
            }

            a {
                color: $white;
                border-radius: 0.375rem;
                background: #6F00FF;
                width: 7.5rem;
            }
        }
    }
}