.preview {

    &__intro {
        gap: 6.25rem;

        @include breakpoint-up(large) {
            gap: 9.6975rem;
        }

        .intro__head {

            h1 {
                font-size: $font-4;
                font-weight: $reg;

                @include breakpoint-up(large) {
                    font-size: $font-1;
                    font-weight: $reg;
                }
            }
        }

        .intro__description {
            gap: 3.75rem;

            @include breakpoint-up(large) {
                gap: 7rem;
            }

            @include breakpoint-up(xlarge) {
                gap: 11rem;
            }

            @include breakpoint-up(wide) {
                gap: 13rem;
            }

            .item {
                gap: 1.25rem;

                h3 {
                    font-size: $font-10;
                    font-weight: $reg;

                    @include breakpoint-up(large) {
                        font-size: $font-8;
                    }
                }

                h6 {
                    font-size: $font-7;
                    font-weight: $lgt;

                    @include breakpoint-up(large) {
                        font-size: $font-6;
                    }
                }

                p {
                    font-size: $font-11;
                    font-weight: $lgt;

                    @include breakpoint-up(large) {
                        font-size: $font-10;
                        max-width: 25.625rem;
                        width: 100%;
                    }
                }
            }
        }

        .intro__img {

            img {
                max-width: 26.875rem;
                max-height: 16.62413rem;
                width: 100%;
                height: 100%;

                @include breakpoint-up(medium) {
                    max-width: 60.875rem;
                    max-height: 40.62413rem;
                }

                @include breakpoint-up(large) {
                    max-width: 87.5rem;
                    max-height: 54.125rem;
                }
            }
        }
    }
}

// Info Constant:-
.info {
    gap: 3.75rem;

    @include breakpoint-up(medium) {
        gap: 13rem;
    }

    h2 {
        font-size: $font-6;
        font-weight: $reg;

        @include breakpoint-up(xlarge) {
            font-size: $font-3;
        }
    }

    p {
        font-weight: $lgt;
        width: 100%;
        max-width: 38.75rem;

        @include breakpoint-up(xlarge) {
            max-width: 48.75rem;
            font-size: $font-8;
        }
    }
}

.Preview-1 {
    gap: 6.25rem;

    .design-img {
        
        img {
            height: 26.57388rem;
            max-width: 26.875rem;
            width: 100%;
            height: 100%;
            
            @include breakpoint-up(medium) {
                max-width: 45.5rem;
                max-height: 45.5rem;
            }

            @include breakpoint-up(large) {
                max-width: 62.5rem;
                max-height:62.5rem;
            }
        }
    }
}

.wireframes {

    h2 {
        font-size: $font-6;
        font-weight: $reg;

        @include breakpoint-up(xlarge) {
            font-size: $font-3;
        }
    }

    &__item {
        gap: 3.75rem;
        grid-template-areas: 
        "wrfr-2"
        "wrfr-1"
        "wrfr-3"
        ;

        @include breakpoint-up(medium) {
            gap: 2rem;
            grid-template-areas: 
            "wrfr-1 wrfr-2"
            "wrfr-3 wrfr-2"
            ;
        }

        @include breakpoint-up(medium) {
            gap: 4rem;
        }

        .main {
            grid-area: wrfr-2;

            img {
                max-height: 32.3rem;
                max-width: 23.75rem;
                width: 100%;
                height: 100%;

                @include breakpoint-up(medium) {
                    max-height: 60rem;
                    max-width: 25rem;
                }

                @include breakpoint-up(large) {
                    max-height: 68rem;
                    max-width: 50rem;
                }

                @include breakpoint-up(wide) {
                    max-height: 85rem;
                    max-width: 55rem;
                }
            }
        }

        .frst {
            grid-area: wrfr-1;

            img {
                max-height: 46.55rem;
                max-width: 23.75rem;
                height: 100%;
                width: 100%;

                @include breakpoint-up(medium) {
                    max-height: 30rem;
                    max-width: 15rem;
                }

                @include breakpoint-up(large) {
                    max-height: 36.75rem;
                    max-width: 18.75rem;
                }

                @include breakpoint-up(wide) {
                    max-height: 45rem;
                    max-width: 30rem;
                }
            }
        }

        .lst {
            grid-area: wrfr-3;

            img {
                height: 100%;
                width: 100%;
                
                @include breakpoint-up(medium) {
                    max-height: 30rem;
                    max-width: 15rem;
                }

                @include breakpoint-up(large) {
                    max-height: 20rem;
                    max-width: 20rem;
                }

                @include breakpoint-up(wide) {
                    max-height: 40rem;
                    max-width: 30rem;
                }
            }
        }

        .frame {

            p {
                font-size: $font-12;
                font-weight: $lgt;
                text-align: center;
            }
        }
    }
}

.final-design {

    .head {
        font-size: $font-6;
        font-weight: $reg;
        margin-bottom: 6.25rem;

        @include  breakpoint-up(xlarge) {
            font-size: $font-3;
            margin-bottom: 9.375rem;
        }
    }

    .dktp-img {
        gap: 6.25rem;

        @include breakpoint-up(medium) {
            gap: 1rem;
        }

        img {
            max-width: 23.75rem;
            width: 100%;
            max-height: 52.0125rem;
            height: 100%;

            @include breakpoint-up(medium) {
                max-height: 82.125rem;
                max-width: 37.5rem;
            }
        }
        
        p {
            font-size: $font-12;
            font-weight: $lgt;
        }
    }

    .dktp-img-desc {
        margin: 12.5rem 0;

         p {
            font-weight: $lgt;
            max-width: 32.75rem;
            width: 100%;

            @include breakpoint-up(medium) {
                margin-left: 5rem;
            }

            @include breakpoint-up(large) {
                margin-left: 5rem;
                max-width: 40rem;
            }

            @include breakpoint-up(xlarge) {
                max-width: 49.125rem;
                margin-left: 10rem;
            }
         }
    }

    .mbl-img {
        // grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "item-1 item-2"
        "item-3 item-4"
        "item-5 item-6"
        ;
        gap: 0rem;
        row-gap: 2rem;

        @include breakpoint-up(large) {
            grid: 
            "item-1 item-2 item-3"
            "item-4 item-5 item-6"
            ;
            row-gap: 5rem;
        }

        &__one {
            grid-area: item-1;

            &.two  {
                grid-area: item-2;
            }

            &.three  {
                grid-area: item-3;
            }

            &.four  {
                grid-area: item-4;
            }

            &.five  {
                grid-area: item-5;
            } 

            &.six  {
                grid-area: item-6;
            }

            img {
                max-height: 24.39319rem;
                max-width: 11.25rem;
                width: 100%;
                height: 100%;

                @include breakpoint-up(medium) {
                    max-height: 30.875rem;
                    max-width: 15.3125rem;
                }

                @include breakpoint-up(large) {
                    max-height: 40.875rem;
                }

                @include breakpoint-up(xlarge) {
                    max-height: 41.875rem;
                    max-width: 19.3125rem;
                }
            }

            p {
                font-size: $font-12;
                font-weight: $lgt;
                text-align: center;
            }
        }
    }
}

.more-projects {
    
    h4 {
        font-size: $font-6;
        font-weight: $reg;

        @include breakpoint-up(large) {
            font-size: $font-3;
        }
    }
}