// Colors:-
$indigo: hsl(266, 100, 50);
$black: hsl(0, 0, 0);
$neutral-black: hsl(267, 23, 16);
$white: hsl(0, 0%, 100%);

// Typography:-
// font-size:-
$font-1: 4rem; //64px 
$font-2: 3.375rem; //54px
$font-3: 3rem; //48px
$font-4: 2.5rem; //40px
$font-5: 2.25rem; // 36px
$font-6: 2rem; //32px
$font-7: 1.75rem; //28px
$font-8: 1.25rem; //20px
$font-9: 1.125rem; //18px
$font-10: 1rem; //16px
$font-11: 0.875rem; //14px
$font-12: 0.75rem; //12px
$font-13: 0.625rem; //10px

// font-weight:-
$bld: 700;
$reg: 400;
$lgt: 300;

